.banner{
    background-color: black;
    height: 75px;
    background-repeat: no-repeat;
    z-index: -1;
    
}
h1{
    color: white;
}
h2{
    color:grey;
}
h3 {
    color:black;
}
.border{
    margin: 0px;
    border-style: solid;
    background: red;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    }
.menu{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    text-align: center;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#flex.container {
    display:flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content:center;
    flex-basis: 75%;
    max-width: 100%;
    max-height:200px;
    

}
#flex1.container1 {
    display:flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content:center;
    flex-basis: 75%;
    max-width: 100%;
    max-height:200px;
.info{
    display:flex;
    position: relative;

}
.location{
    display:flex;
    text-align: left;
    background-color: grey;
    position: relative;

}
.hours{
    display:flex;
    padding-bottom: 10px;
    text-align: right;
    position: relative;
}
.footer{
    padding-top: 1px;
    padding-bottom: 1px;
}
@media only screen and (min-width:200px) {
    #flex.container{
        flex-shrink:1; 
    }
    }
@media only screen and (max-width:700px){

}
@media only screen and (max-height:750px){

}
@media only screen and (min-height:300px)
{}
